<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="{{ url_for('static', filename='styles/general.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/website-name.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/cool_animation.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500;600;700&family=Roboto:wght@400;500;700&display=swap"
    rel="stylesheet">
  <script>
  </script>
</head>

<body
  style="background-image: url({{url_for('static', filename='Images/earth-1756274_1280.webp') }});background-size:cover;">
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="/">
          <div class="glow">
            Celestial_Memoirs
          </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
            <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if current_user.is_authenticated %}
            <a class="nav-item nav-link" href="{{ url_for('new_entry') }}">New Post</a>
            <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
            {% else %}
            <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
            <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
  <div class="website-name-container">
    <button data-text="Awesome" class="button">
        <span class="actual-text">&nbsp;Celestial_Memoirs!!!&nbsp;</span>
        <span class="hover-text" aria-hidden="true">&nbsp;Celestial_Memoirs!!!&nbsp;</span>
    </button>
</div>

<div class="about-text">
    Welcome to Celestial Memoirs, a unique online platform designed to preserve your personal thoughts and experiences
    in the ethereal realm of digital diaries. Our website serves as a safe haven for individuals seeking to document
    their innermost reflections, captivating adventures, and heartfelt emotions.

    At Celestial Memoirs, we believe that writing is a powerful tool for self-expression and introspection. Our purpose
    is to provide a serene virtual space where you can unlock the doors to your soul and record your life's journey.
    Whether you're seeking solace, looking to reminisce, or simply longing to capture fleeting moments, our website is
    here to accompany you on this celestial odyssey.

    So, whether you're an avid writer, an aspiring poet, or someone seeking solace in words, Celestial Memoirs invites
    you to embark on an intimate and transformative journey of self-discovery. Join us as we illuminate the vast cosmos
    of memories and emotions, one diary entry at a time. Start your celestial memoir today and etch your
    legacy in the stars.
</div>


<div class="buttons-container">
    <div class="button-1">
        <a href="{{url_for('register')}}">
            <button class="btn" type="button">
                <strong> Sign Up!!</strong>
                <div id="container-stars">
                    <div id="stars"></div>
                </div>

                <div id="glow">
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </button>
        </a>
    </div>
    <div class="button-2">
        <a href="{{url_for('login')}}">
            <button class="btn" type="button">
                <strong> Sign In!!</strong>
                <div id="container-stars">
                    <div id="stars"></div>
                </div>

                <div id="glow">
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </button>
        </a>
    </div>
</div>
</body>

</html>
