{% extends "layout.html" %}
{% block content %}

<div class="new_entry_container">
    <div class="new_entry">
        New Entry
    </div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="date">
            Date
        </div>
        <div class="date_box">
            {% if form.date.errors %}
            {{ form.date(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.date.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.date(class="date_box mb-2") }}
            {% endif %}
        </div>
        <div class="date">
            {{ form.content.label(class="form-control-label") }}
        </div>
        {% if form.content.errors %}
        {{ form.content(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.content.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        {{ form.content(class="mb-2 form-control form-control-lg") }}
        {% endif %}
        <!-- <div class="btn"> -->
        <button class="btn" type="submit">
            <div id="container-stars">
                <div id="stars"></div>
            </div>

            <div id="glow">
                <div class="circle"></div>
                <div class="circle"></div>
            </div>

            {{ form.submit(class="submit-btn") }}
        </button>
        <!-- </div> -->

        {% endblock content %}